extends ./layout

block content

  #posts
    table.table.table-bordered.table-striped
      thead
        tr
          th Title
          th Arthur
          th Category
          th URL
          th Status
          th Create Date
          th
      tbody
        - each post in posts
          tr
            td
              | #{post.title}   
            td 
              | #{post.arthur}      
            td 
              | #{post.category}             
            td
              | #{post.url}   
            td
              - if (post.status)
                | Live
              - else
                | Draft  
            td
              | #{post.create_date}         
            td
              a(href="/admin/post/edit/#{post.id}") Edit
              |  | 
              a(href="/admin/post/delete/#{post.id}") Delete           
