doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    body
      p= "email: " + otherProperty.email
      p= "name: " +  otherProperty.name
      if (otherProperty.phone)
        p= "phone: " +  otherProperty.phone
      if (otherProperty.url)
        p= "url: " +  otherProperty.url
      p= "budget: " + otherProperty.budget
