header
  nav.navbar
    a.navbar-brand(href="/")
      img(src="/images/logo.png")
    - if (!navOff)
      button.navbar-toggler.hidden-sm-up(type="button" data-toggle="collapse" data-target="#navMenu")
        | &#9776;
    - if (!navOff)
      .collapse.navbar-toggleable-sm#navMenu
        ul.nav.navbar-nav
          li.nav-item(class=isActive(path, '/'))
            a(href='/') Home           
          li.nav-item(class=isActive(path, '/products'))
            a(href='/') Products   
          li.nav-item(class=isActive(path, '/tool'))
            a(href='/') Free Tools               
          li.nav-item(class=isActive(path, '/blog'))
            a(href='/blog') Blog               
          li.nav-item(class=isActive(path, '/getanswers'))
            a(href='/getanswers') Get Answers
        ul.nav.navbar-nav.pull-right
          li.nav-item
            a(href='/register').btn.btn-account Create an Free Account         
          li.nav-item
            a(href='/login') Log In
