extends ./layout

block content
  #report
  
    section.wrapper_orange.wrapper_arrow
      .container
        if (score != undefined && score > 75)
          h1 Wow! Your site looks great. There is not much we can do to help!
        else
          h1 Yikes! It looks like your site can use some work!
        span.a-url
          i.fa.fa-tachometer
          |  Anaylized URL: 
          if (url != undefined) 
          | #{url}
        .row.report
          .col-lg-7.col-md-12
            h2.report-title
              | SPEED SCORE
            .score.clearfix
              .score-radial(class="score-#{score}")
                .overlay 
                  if (score != undefined)
                    | #{score}
                  span /100
            div(role='tabpanel')

              ul.nav.nav-tabs(role='tablist')
                li.speed-box.errors(role='presentation')
                  a.speed-box-title(href='#errors', aria-controls='errors', role='tab', data-toggle='tab') Important
                    span.speed-box-number
                      if (errors.length != 0 )
                        | #{errors.length}
                      else
                        | 0
                    span.speed-box-detail
                      i(class="glyphicon glyphicon-triangle-bottom") 
                      |  View Details 
                li.speed-box.warnings(role='presentation')
                  a.speed-box-title(href='#warnings', aria-controls='warnings', role='tab', data-toggle='tab') Warnings
                    span.speed-box-number
                      if (warnings.length != 0 )
                        | #{warnings.length}
                      else
                        | 0
                    span.speed-box-detail
                      i(class="glyphicon glyphicon-triangle-bottom") 
                      |  View Details 
                li.speed-box.passed(role='presentation')
                  a.speed-box-title(href='#passed', aria-controls='passed', role='tab', data-toggle='tab') Passed
                    span.speed-box-number
                      if (passed.length != 0 )
                        | #{passed.length}
                      else
                        | 0
                    span.speed-box-detail
                      i(class="glyphicon glyphicon-triangle-bottom") 
                      |  View Details 
              .tab-content
                #errors.tab-pane(role='tabpanel') 
                  ul
                    if (errors.length != 0 )
                      each error in errors
                        li= error.localizedRuleName
                #warnings.tab-pane(role='tabpanel')
                  ul
                    if (warnings.length != 0 )
                      each warning in warnings
                        li= warning.localizedRuleName
                #passed.tab-pane(role='tabpanel')
                  ul
                    if (passed.length != 0 )
                      each pass in passed
                        li= pass.localizedRuleName
                    
          .col-lg-5
            .site-image-wrapper
              if (screenshot != undefined)
                img(src="data:#{mime_type};base64,#{screenshot}")

    section.wrapper.contact_wrapper
      .container
        h2 We Can Improve Your Site!

        .row
          .col-lg-5

            .profile-image
              img(src="../images/profile.png")
            span.profile_caption "We have helped many companies to improve their site. Fill out the form to the right and get some free advice from us. Who knows, maybe you're our next ideal client."
          .col-lg-7
            .failure Sorry, but we couldn't sent Reserve your spot please try again.
            .success Thanks we have recieved your request, someone will be in touch with you soon.
            form#contact-form(action="/contact_mailer" method="post")
              input(type="hidden" name='position' val="speedreport")
              .form-group
                input.require-field.name(name="name" placeholder="First Name" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Enter your name.")
                i.fa.fa-user
              .form-group
                input.require-field.email(name="email" placeholder="Best Email" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Incorrect Email.")
                i.fa.fa-envelope-o
              .form-group
                input.require-field.phone(name="phone" placeholder="Phone" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Incorrect Phone #, EX: (1234567890).")
                i.fa.fa-phone
              .form-group
                label Budget
                select(name="budget")
                  option 500
                  option 1000
                  option 5000
                  option 10000
                  option 25000
                  option 50000+
                i.glyphicon.glyphicon-menu-down

              button.btn.btn-reserve Reserve Your Spot
