doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    body
      p= "date time: " + body.dt
      p= "name: " + body.name
      p= "phone: " + body.phone
      p= "email: " + body.email
      p= "id: " + id
      p= "pname: " + pname
