doctype html
head
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width')
  title= title
  link(rel='profile', href='http://gmpg.org/xfn/11')
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
  //if lt IE 9 <script src="/js/html5.js"></script>

  // css
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/animation.css')
  link(rel='stylesheet', href='/css/fonts.icons.css')
  link(rel='stylesheet', href='/css/hover.min.css')
  link(rel='stylesheet', href='/css/ie.css')
  link(rel='stylesheet', href='/css/ie7.css')
  link(rel='stylesheet', href='/css/loader.css')
  link(rel='stylesheet', href='/css/trackpad-scroll.css')
  link(rel='stylesheet', href='/css/landing.css')

  //js
  script(src='js/bootstrap.min.js')
  script(src='js/wow.min.js')
  script(src='js/trackpad-scroll.min.js')
  script(src='js/landing.js')

  //Google Analytics
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62924535-2', 'auto');
      ga('send', 'pageview');

body.landing-page
  // Google Tag Manager
  noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-PGXB9P', height='0', width='0', style='display:none;visibility:hidden')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGXB9P');
  // End Google Tag Manager
  .landing-page-wrapper.container
    - if (isMobile)
      include ./landing-mobile.jade
    - else
      include ./landing-desktop.jade
  footer
    .landing-logo
      a(href="/")
        img(src="../images/logo_gary.png")
    p.copy-right Copyright 2015 Designed or Result.

  #privacy.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Privacy Policy   
        .modal-body
          p Your privacy is extremely important to us, here is our policy in simple terms.
          ol
            li We promise to never ever spam you with irrelevant emails. We don't like them too.
            li We will never sell or share your email address with ANYONE. That's not only illegal, but also poor character.
            li You will receive one email with the link to the Checklist if you choose to download it or read it.
            li We may send you further emails intermittantly, but only if we write other useful guides like this one, and that's all. You can unsubscribe at any time (there will be a link in the first email you receive).

