extends ../layout

block content
  -console.log(Post)
  #posts
    table.table.table-bordered.table-striped
      thead
        tr
          th Title
          th Arthur
          th Categories
          th URL
          th Status
          th Post Date
          th
      tbody
        - each post in posts
          tr
            td
              | #{post.title}   
            td 
              | #{post.username}      
            td 
              - each category in post.categories
                | #{category}           
            td
              | #{post.url}   
            td
              | #{post.status}
            td
              | #{post.postDate()}         
            td
              a(href="/admin/post/edit/#{post.id}") Edit
              |  | 
              a(href="/admin/post/delete/#{post.id}") Delete           
