.main-menu
  .main-menu-wrapper
    .main-menu-helper
      .menu-logo
        a.logo(href="/")
          img(src="https://s3.amazonaws.com/elasticbeanstalk-us-east-1-908221110946/assets/statics/logo.png")
      ul.menu-list
        li.menu-item
          a(href="/campaign/surveys" class=isActive(path, '/campaign/surveys')) Survey
            span.mia-1
        if (user.isAdmin())
          li.menu-item
            a(href="/campaign/posts" class=isActive(path, '/campaign/posts')) Post
              span.mia-1
        li.menu-item
          a(href="") Billing
            span.mia-1          
        li.menu-item
          a(href="") Help
            span.mia-1        
      .menu-right
        .menu-item.user-box
          .user-icon(style=(user.profile.avatar) ? 'background-image: url("#{user.profile.avatar}")' : "")
          span.username
            | #{user.username}
        .menu-item
          i.fa.fa-bell
        .menu-item.logout
          a(href='/account/logout') 
            i.fa.fa-power-off
            | Logout    
  .sub-menu-wrapper.clearfix
    .sm-i1(ng-show="hasCampaign()")
      .sm-ss Account: {{currentUser.username}}
      .sm-ms
        strong Campaign: {{campaignName}}
    .sm-i1(ng-hide="hasCampaign()")
      .sm-ls
        strong Account: {{currentUser.username}}
    .shop-btn.pull-right(ng-click="openShop()")
      .btn.btn-default
        i.fa.fa-cart-plus
        span Buy Reponses

.shop.modal-box(ng-class="{open:shopStatus}")
  .box.zoomIn.animated
    .box-header
      .box-title "Purchase Responses"
      button.close(ng-click="closeShop()")
        span(aria-hidden="true") &times;
        span.sr-only Close
    .box-body
      div
        .response-packages
          .form-group
            .form-label Packages
            .form-label Package Details
          .package-wrapper
            .package-list
              .package(ng-repeat="package in packages" 
                ng-class="{active:isCurrentPackage(package)}"
                ng-click="switchPackage(package)")
                | {{package.responses | currency:'':0}}
            .package-details
              div
                span Responses:
                span {{currentPackage.responses | currency:'':0}}
              div
                span Price:
                span {{currentPackage.price | currency:$}}
              div
                span Price Per Response:
                span {{(currentPackage.price/currentPackage.responses) | currency:$:3}}
        payment_form(success="successPayment")
    .box-footer.clearfix
      .pull-right
        .btn.btn-default(ng-click="closeShop()") Close
        button.btn.btn-save(type="submit" form="paymentForm") Continue

 
