.answer-wrapper.scale-ratings.clearfix(ng-if="qbCtrl.showRating()")     
  .row
    .tag.col-sm-2 Rating Type
    .col-sm-10
      .btn-group
        input(type='radio' ng-model='q.rating.type' data-toggle='numeric' name='question[rating][type]' id='numeric' value='Numeric')  
        label(for='numeric').btn.btn-default Numeric Scale
        input(type='radio' ng-model='q.rating.type' data-toggle='custom' name='question[rating][type]' id='custom' value='Custom')    
        label(for='custom').btn.btn-default Custom
  .row.numeric(ng-show="qbCtrl.showRatingType('Numeric')")
    .tag.col-sm-2 Max Rating
    .col-sm-10
      <custom-select model='q.rating.max' items="[] | range:3:10" ></custom-select>
  .row.custom(ng-show="qbCtrl.showRatingType('Custom')")
    .tag.col-sm-2 Add Rating
    .col-sm-10
      .ib.form-control
        input(type='text' ng-keyup="qbCtrl.addItem($event, 'rating')" placeholder="Enter an rating")
        div(ng-click="qbCtrl.addItem($event, 'rating')").add-button Add Rating
  .rating-list.arlist
    ar-box(ng-repeat="rating in q.rating.ratings track by $index" 
      i="$index"
      q='q'
      name="question[rating][ratings]" 
      value="rating" 
      removeable="true") 
.answer-wrapper.clearfix
  .row(ng-if="qbCtrl.showNewAnswer()")   
    .tag.col-sm-2 Answer
    .col-sm-10
      .ib.form-control
        input(type='text' ng-keyup="qbCtrl.addItem($event, 'answer')" placeholder="Enter an answer")
        div(ng-click="qbCtrl.addItem($event, 'answer')").add-button Add Answer
  .row(ng-if="qbCtrl.showMultiAnswer()")  
    .col-sm-offset-2.col-sm-10
      .ccb
        label(for="multianswer")
          input(type='checkbox' ng-model='q.multi_answers' name='question[multi_answers]' id="multianswer")
          span.cb Allow Multiple Answers
  .answer-list.arlist
    ar-box(ng-repeat="answer in q.answers track by $index" 
      i="$index"
      q='q'
      name="question[answer]" 
      value="answer" 
      removeable="qbCtrl.showRemoveable()")