.box-section.scale-ratings.clearfix(ng-if="qbCtrl.showRating()")     
  .form-group
    .form-label
      | Rating Type
      i.fa.fa-info-circle(tool-tip="Choose the type of rating for your matrix question.:top") 
    .form-choice
      .btn-group
        input(type='radio' ng-model='q.rating.type' data-toggle='numeric' id='numeric' value='Numeric' required)  
        label(for='numeric').btn.btn-default Numeric Scale
        input(type='radio' ng-model='q.rating.type' data-toggle='custom' id='custom' value='Custom' required)     
        label(for='custom').btn.btn-default Custom
  .form-group(ng-show="qbCtrl.showRatingType('Numeric')")
    .form-label 
      | Max Rating
      i.fa.fa-info-circle(tool-tip="All numeric rating ranges from 1 to 10.:top") 
    .form-choice
      <custom-select model='q.rating.max' items="[] | range:3:10" ></custom-select>
  .form-group(ng-show="qbCtrl.showRatingType('Custom')")
    .form-label
      | Add Rating
      i.fa.fa-info-circle(tool-tip="Add a custom rating. Example 'Not Satisfied, Satisfied, Very Satisfied'.:top")  
    .form-choice
      .input-group
        input(type='text' ng-keyup="qbCtrl.addItem($event, 'rating')" placeholder="Enter an rating")
        .input-addon.is-button(ng-click="qbCtrl.addItem($event, 'rating')") Add Rating
  .rating-list
    ar-box(ng-repeat="rating in q.rating.ratings track by $index" 
      items='q.rating.ratings'
      item="rating" 
      removeable=true) 
.answer-wrapper.clearfix(ng-if="qbCtrl.showAnswer()")   
  .form-group
    .form-label 
      | Possible Answers
      i.fa.fa-info-circle(tool-tip="Enter an answer and hit enter or click the add answer button.:top")  
    .form-choice
      .input-group
        input(type='text' ng-keyup="qbCtrl.addItem($event, 'answer')" placeholder="Enter an answer")
        .input-addon.is-button(ng-click="qbCtrl.addItem($event, 'answer')") Add Answer
    .form-label
    .form-choice(ng-if="qbCtrl.showMultiAnswer()")     
      label.ccb(for="multianswer")
        input(type='checkbox' ng-model='q.multi_answers' name='question[multi_answers]' id="multianswer")
        span.cb 
          | Allow Multiple Answers  
          i.fa.fa-info-circle(tool-tip="Check if the user is allow to select multiple answers for this question.:top")  
  .answer-list
    ar-box(ng-repeat="answer in q.answers track by $index" 
      items="q.answers"
      item="answer" 
      removeable="qbCtrl.showRemoveable()")