doctype html
html(ng-app='dfr')
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel='profile', href='http://gmpg.org/xfn/11')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    //if lt IE 9 <script src="/js/html5.js"></script>

    // css
    link(rel='stylesheet', href='/css/survey.theme1.css')
    block css
      
  body
    #survey-default-theme(pages="survey.pages.length")
      .survey-wrapper
        .progress
          .progress-bar
            span 0%
        .survey-info
          p #{survey.name}
          p !{survey.description}
        form.survey-form
          each page, index in survey.pages
            .page-wrapper(class=(index === 0) ? "active" : "")
              each q in page.questions
                .question-wrapper
                  .question !{q.question}
                  .hint #{q.hint}
                  .choices
                    if (['MC', 'YN'].indexOf(q.type) > -1) 
                      ul
                        each a, i in q.answers
                          li
                            if q.multi_answers
                              .checkbox
                                input(type='checkbox' id="q#{q.id}a#{a.id}")
                                label(for="q#{q.id}a#{a.id}") #{a.value}
                            else
                              .radio
                                input(type='radio' name="answers[#{q.id}]" id="q#{q.id}a#{a.id}" value="#{a.id}")
                                label(for="q#{q.id}a#{a.id}") #{a.value}
                    if (q.type === 'DD')
                      .select
                        select
                          each a, i in q.answers
                            option(value="#{a.id}") #{a.value}
                    if (q.type === 'MRS')
                      table.mrs-wrapper
                        thead
                          tr
                            th
                              each r, i in q.rating.ratings
                                th #{r.value}
                        tbody
                          each subq, i in q.rating.subqs
                            tr
                              th #{subq.value}
                              each r, i in q.rating.ratings
                                th 
                                  .radio
                                    input(type='radio' name="answers[#{q.id}][#{subq.id}]" id="q#{q.id}sq#{subq.id}r#{r.id}" value="#{r.id}")
                                    label(for="q#{q.id}sq#{subq.id}r#{r.id}")
          .survey-submit-wrapper.clearfix
              .btn.btn-success Submit My Answers
              .btn.btn-default.btn-back Back                       
              .btn.btn-default.btn-next Next                       
        .survey-thanks
    footer
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='/js/survey.min.js')