extends ./layout

block content
  #newpost
    form(action='/admin/post/update/#{post.id}' method='post')
      .form-group
        label Title
        input.form-control(type='text', name='title' value="#{post.title}")      
      .form-group
        label Arthur
        input.form-control(type='text', name='arthur' value="#{post.arthur}")
      select.form-control(name='category')
        -console.log(post.category === 'Beginners');
        option Beginners          
        option Optimization          
        option Marketing          
      .form-group
        label Content
        textarea.form-control(name='content' rows="10")
          | #{post.content}
      .form-group
        label Excerpt
        textarea.form-control(name='excerpt' rows="4" )
          | #{post.excerpt}
      .form-group
        label Publish Date
        input.form-control(type="text" name='create_date' value="#{post.create_date}")
      .form-group
        label Display Image
        input.form-control(type='text', name='display_image' value="#{post.display_image}")      
      .form-group
        label URL
        input.form-control(type='text', name='url' value="#{post.url}")
      .form-group    
        label Status
        select(name="status")
          option(value="true") Live
          option(value="false") Draft
      .form-group
        label Bottom Optin
        textarea.form-control(name='boptin' rows="4" value="#{post.boptin}")
      .form-group
        label Popup Optin
        textarea.form-control(name='boptin' rows="4" value="#{post.poptin}")
      .form-group    
        label Popup On or Off
        select.form-control(name="popon")
          option(value="true") On
          option(value="false") Off
      .form-group
        input.form-control(type='submit', value='Update Post' style="margin-left: 50%; width: 50%; background-color: #555; color: #FFF;")

