extends ../layout
block css
    
block content
  #blog
    .container
      h1 Designed For Result Blog
      p.subtitle We share some of the best of tips, tricks, secrets, ideas, data, and other fun stuff on Website Design, Marketing, and Optimization.
      .row
        -if (posts.length > 0)
          - each post in posts
            .post-item-wrapper.col-lg-6.col-xs-12
              .post-item-image
                a(href="/blog/#{post.url}")
                  img(src="#{post.display_image}")
              .post-meta
                span By: 
                  span.arthur  #{post.author}
                span.date.pull-right #{post.postDate('MMMM Do, YYYY')}
              a.post-item-title(href="/blog/#{post.url}")
                h2 #{post.title}
              .post-category
                p 
                  | #{post.categories.join(" | ")}
              .post-item-excerpt
                p
                |  !{post.excerpt}

              a.btn.btn-more(href="/blog/#{post.url}") Read this post

block script
  script(src='//cdn.ckeditor.com/4.5.1/standard/ckeditor.js')