extends ../layout
block css

block og
  - if (post.options.og_image)
    meta(property='og:image', content='#{post.options.og_image}')  
  meta(property='og:title', content='#{post.title}')    
  meta(property='og:description', content='#{post.excerpt}')      
  meta(property='og:type', content='#{"article"}')

block content
  #fb-root
  script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1017381721660352";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  #post

    section.post-banner
      -if (post.display_image)
        .post-banner-bg(style="background-image: url('#{post.display_image}');")
      - else
        .post-banner-bg

    #social.flow-share
      .twitter(data-url='https://pugsquad.com/blog/#{post.url}', data-text='')
      .facebook(data-url='https://pugsquad.com/blog/#{post.url}', data-text='')
      .googleplus(data-url='pugsquad.com/blog/#{post.url}', data-text='')
        a.box(href="#")
          .social-icon.fa.fa-google-plus
          span.count 0
      .linkedin(data-url='https://pugsquad.com/blog/#{post.url}', data-text='')
    main.main-content-wrapper
      .row 
        .col-md-6.col-md-offset-3
          .follow-pug
            span Follow Pug Squad:
            .fb-like(data-href='https://www.facebook.com/pugsquad/', data-layout='button', data-action='like', data-show-faces='true', data-share='false')

          .post-meta    
            .author-avatar.clearfix
              img(src="https://secure.gravatar.com/avatar/ff162301fb35a74fdb53c914b43c3060?s=60&d=mm&r=g")   
            .pull-right
              .author #{post.author}   
              .date #{post.postDate('MMMM D, YYYY')}      
              .category
                | #{post.categories.join(" & ")}             
          .post-title
            h1 #{post.title}

          .post-content
            | !{post.content}

     

    //- aside
    //-   .post-optin-wrapper
    //-     .container
    //-       .row
    //-         .optin-box.optin-content.col-lg-8.col-lg-offset-2
    //-           | teetetsetest
           

    //- include ./comments
    
block script