extends ../layout

block content
  #single
    .container
      .single-header
        -if (post)
          .post-dispaly-image
            .feature-offer
            img.post-di(src="#{post.display_image}")
        .follows
          ul
            li.fb
              a(href="https://www.facebook.com/designedforresult")
            li.tw
              a(href="https://twitter.com/dfr_007")
            li.lk
              a(href="https://www.linkedin.com/company/designed-for-results")
            li.gp
              a(href="https://plus.google.com/u/0/b/116414978174330915452/+Designedforresultdfr/posts")
      -if (post)

        #social.share-wrapper()
          #twitter.twitter(data-url='https://designedforresult.com/blog/#{post.url}', data-text='')
          #facebook.facebook(data-url='https://designedforresult.com/blog/#{post.url}', data-text='')
          #googleplus.googleplus(data-url='designedforresult.com/blog/#{post.url}', data-text='')
            a.box(href="#")
              .social-icon.fa.fa-google-plus
              span.count 0
          #linkedin.linkedin(data-url='https://designedforresult.com/blog/#{post.url}', data-text='')

      .main-content-wrapper
        - if (post)
          .post-title
            h1 #{post.title}
            .post-meta
              .pull-left
                .post-category
                  | #{post.category}
              .pull-right
                span By: 
                  span.arthur #{post.arthur} 
                  | on  
                span.date
                  | #{post.create_date}
            .clearfix
          .post-content
            | !{post.content}
            #post-footer-share
              span.shareit If you Like it, Share it... Thanks
              #twitter.twitter(data-url='https://designedforresult.com/blog/#{post.url}', data-text='')
              #facebook.facebook(data-url='https://designedforresult.com/blog/#{post.url}', data-text='')
              #googleplus.googleplus(data-url='designedforresult.com/blog/#{post.url}', data-text='')
                a.box(href="#")
                  .social-icon.fa.fa-google-plus
                  span.count 0
              #linkedin.linkedin(data-url='https://designedforresult.com/blog/#{post.url}', data-text='')

    .post-optin-wrapper
      .container
        .optin-box.optin-content.col-lg-8.col-lg-offset-2
          - if (post.boptin != '' && post.boptin != undefined)
            | !{post.boptin} 
          - else
            p.optin-title.text-center.text-uppercase
              | [Interactive PDF] 30 Minute Website Planner
            .row
              .col-lg-8.col-md-8.col-xs-8
                
                p.optin-description.text-left
                  i.fa.fa-check(style="color: green;")
                  |  Plan your entire small Business website in 30 minutes.                
                p.optin-description.text-left 
                  i.fa.fa-check(style="color: green;")
                  |  Edit it on your computer or print it out for your team.          
                p.optin-description.text-left 
                  i.fa.fa-check(style="color: green;")
                  |  Use the planner to reduce development time and cost.    
                p.optin-description.text-left 
                  i.fa.fa-check(style="color: green;")
                  |  Built highly effective Business website with this planner.
              .col-lg-4.col-md-4.col-xs-4.optin-image
                img(src="https://s3.amazonaws.com/designforresult/post-default-images/30minutewebsiteplanner.jpg" alt="30 Minute Interactive website planner")
            .btn.btn-optin.boptin
              | Download This Guide