extends ../layout

block content
  #single
    .container
      .single-header
        -if (post)
          img.post-di(src="#{post.display_image}")
      -if (post)

        #social.share-wrapper()
          #twitter(data-url='https://designedforresult.com/blog/#{post.url}', data-text='')
          #facebook(data-url='https://designedforresult.com/blog/#{post.url}', data-text='')
          #googleplus(data-url='https://designedforresult.com/blog/#{post.url}', data-text='')
          #linkedin(data-url='https://designedforresult.com/blog/#{post.url}', data-text='')

      .main-content-wrapper
        - if (post)
          .post-title
            h1 #{post.title}
            .post-meta
              .pull-left
                .post-category
                  | #{post.category}
              .pull-right
                span By: 
                  span.arthur #{post.arthur} 
                  | on  
                span.date
                  | #{post.create_date}
            .clearfix
          .post-content(data-pon= (post.popon != undefined) ? '#{post.popon}' : '')
            | !{post.content}
            #post-footer-share
              #twitterf(data-url='https://designedforresult.com/blog/#{post.url}', data-text='')
              #facebookf(data-url='https://designedforresult.com/blog/#{post.url}', data-text='')
              #googleplusf(data-url='https://designedforresult.com/blog/#{post.url}', data-text='')
              #linkedinf(data-url='https://designedforresult.com/blog/#{post.url}', data-text='')

    .post-optin-wrapper
      .container
        .optin-box.optin-content.col-lg-8.col-lg-offset-2
    
          - if (post.boptin != undefined)
            | !{post.boptin} 
          - else
            p.optin-title
              | How To Tell If A Website Is Right For Your Small Business
            p.optin-description
              | Follow a 5 Steps Question to Determine if a Website Will Benefit Your Business!
            a.btn.btn-optin(href="/lp/guide")
              | Download This Guide
