
extends ../layout
block css

block content
  - if (user.services['Survey'].first_time)
    .welcome-box
      .speech-icon
        img(src="/images/pug_speach.png")
      .speech-bubble
        .arrow
        .inner-content
          p.typecast Welcome #{user.username},
          p.typecast Let's get started and create a survey below.
            i.fa.fa-hand-o-down
  new-survey
  script(type='text/ng-template' id="NewSurvey")
    .new-survey-wrapper
      .row
        .col-md-9
          form(ng-submit="nsCtrl.createSurvey()" name="surveyForm" novalidate)      
            .nav.clearfix
              a(ng-click="nsCtrl.prevStep()" ng-class="{disable:nsCtrl.isFirstStep()}").back
                i.fa.fa-angle-left
                |  Back               
              a(ng-click="nsCtrl.nextStep()" ng-class="{disable:nsCtrl.isLastStep()}").next
                |  Next 
                i.fa.fa-angle-right
            .steps
              .step.one(ng-class="{active:nsCtrl.isStep(1)}")
                ul.survey-objectives
                  li(ng-repeat="o in objectives")
                    input(type="radio" id="{{o.id}}" ng-model="survey.objective" value="{{o.value}}" required)
                    label(for="{{o.id}}")
                      | {{o.name}}           
              .step.two(ng-class="{active:nsCtrl.isStep(2)}")
                .survey-objective
                  .objective-icon
                  p {{survey.objective}}
               
                .form-group
                  .form-label Survey Name
                    i.fa.fa-info-circle(tool-tip="Enter a name for your survey. This name will be displayed on top of your survey.:top")
                  .form-input
                    input(type="text"  ng-model="survey.name" required) 
                .form-group
                  .form-label Description
                    i.fa.fa-info-circle(tool-tip="Tell the user what the survey is for. And what they will recieve for completing the survey.:top")
                  .form-input
                    ck-editor(ng-model="survey.description" required)
          
              .step.three(ng-class="{active:nsCtrl.isStep(3)}")
                .form-group
                  .form-label Progress Style
                    i.fa.fa-info-circle(tool-tip="<p>Choose how you want your survey to be displayed to the users.</p>\
                      <p>Use standard if you want would like a tradition survey with multiple pages.</p>\
                      <p>Use 'One question at a time' for a more interactive experience.</p>:top")
                  .form-input
                    label(for="t1").crb
                      input(type='radio' ng-model='survey.type' id="t1" value="Standard" required)
                      span.rb Standard    
                    label(for="t2").crb
                      input(type='radio' ng-model='survey.type' id="t2" value="Interactive" requireds)
                      span.rb One question at a time.
                .form-group
                  .form-label Schedule
                    i.fa.fa-info-circle(tool-tip="Choose to have your survey run continuosly or end on a schedule day.:top")
                  .form-input
                    label(for="s1").crb
                      input(type='radio' ng-model='survey.schedule' id="s1" value="Continuosly" required)
                      span.rb Run survey continuosly      
                    label(for="s2").crb
                      input(type='radio' ng-model='survey.schedule' id="s2" value="Schedule" requireds)
                      span.rb Set a start and end date
                .form-group.survey-schedule(ng-show="nsCtrl.hasSchedule()")
                  .form-label Start
                  .form-input
                    date-picker(ng-model="survey.start_date" 
                      options="filterDPOptions"
                      ng-required='nsCtrl.hasSchedule()')
                  br
                  .form-label End
                  .form-input
                    date-picker(ng-model="survey.end_date"  
                      from-date="survey.start_date" 
                      options="filterDPOptions"
                      ng-required='nsCtrl.hasSchedule()')

              .step.four(ng-class="{active:nsCtrl.isStep(4)}")
                .form-group
                  .form-label Thank You Message
                    i.fa.fa-info-circle(tool-tip="A message to display after the user has completed your survey. If a thank you page url is provided a redirect will happen instead of this message being showned.:top")
                  .form-input
                    ck-editor(ng-model="survey.thank_msg" required)          
              .step.five(ng-class="{active:nsCtrl.isStep(5)}")
                .form-group
                  .form-label Brand Logo (Optional)
                    i.fa.fa-info-circle(tool-tip="Copy and paste a link to your brand logo here. (This is optional) :top")
                  .form-input
                    input(type="text" ng-model="survey.logo_url")
                .form-group
                  .form-label Thank You Page Url (Optional)
                    i.fa.fa-info-circle(tool-tip="The url of the page you would like to display after the user has successfully completed the survey.:top")
                  .form-input
                    input.form-input(type="text" ng-model="survey.thank_url") 
     
                .survey-submit.clearfix
                  button(type="submit" ng-class="{disable:surveyForm.$invalid}").btn.btn-save Create Survey
        .col-md-3
          .new-survey-progress
            .progress-step(ng-class="nsCtrl.progressStepStatus(1)")
              .step-icon.fa
              span.step-title Objective            
            .progress-step(ng-class="nsCtrl.progressStepStatus(2)")
              .step-icon.fa
              span.step-title Name & Description
              .required-list
                span(ng-model="survey.name" required) 
                  i.fa
                  | Name            
                span(ng-model="survey.description" required) 
                  i.fa 
                  | Description           
            .progress-step(ng-class="nsCtrl.progressStepStatus(3)")
              .step-icon.fa
              span.step-title Progress & Schedule   
              .required-list
                span(ng-model="survey.type" required) 
                  i.fa
                  | Progress Style            
                span(ng-model="survey.schedule" required) 
                  i.fa 
                  | Schedule          
                span(ng-if="nsCtrl.hasSchedule()" ng-model="survey.end_date" required) 
                  i.fa 
                  | End Time                     
            .progress-step(ng-class="nsCtrl.progressStepStatus(4)")
              .step-icon.fa
              span.step-title Thank You Page               
            .progress-step(ng-class="nsCtrl.progressStepStatus(5)")
              .step-icon.fa
              span.step-title Optionals           
            .progress-step(ng-class="nsCtrl.progressStepStatus(6)")
              .step-icon.fa
              span.step-title Create Survey
              .required-list
                span(ng-if="surveyForm.$invalid")
                  i.fa.fa-times
                  | Missing required informations
block templates


block script
  script(src='/app/js/angular.sort.min.js')
  script(src='/app/js/services/survey.js')
  script(src='/app/js/directives/survey.js')
  script(src='/app/js/controllers/survey.js')