doctype html
head
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width')
  title= title
  link(rel='profile', href='http://gmpg.org/xfn/11')
  <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
  //if lt IE 9 <script src="/js/html5.js"></script>

  // css
  link(rel='stylesheet', href='../css/bootstrap.min.css')
  link(rel='stylesheet', href='../css/animation.css')
  link(rel='stylesheet', href='../css/hover.min.css')
  link(rel='stylesheet', href='../css/fonts.icons.css')
  link(rel='stylesheet', href='../css/ie.css')
  link(rel='stylesheet', href='../css/ie7.css')
  link(rel='stylesheet', href='../css/sales.css')

  //js
  script(src='../js/bootstrap.min.js')
  script(src='../js/wow.min.js')
  script(src='../js/jquery-ui.min.js')
  script(src='../js/jquery.payment.js')
  script(type='text/javascript', src='https://js.stripe.com/v2/')
  script(type='text/javascript').
    // This identifies your website in the createToken call below
      Stripe.setPublishableKey('pk_live_ub2PBP7qG6Eebl6s9HUVXDpJ');
      // ...

  //Google Analytics
  script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62924535-2', 'auto');
      ga('send', 'pageview');

body
  // Google Tag Manager
  noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-PGXB9P', height='0', width='0', style='display:none;visibility:hidden')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGXB9P');
  // End Google Tag Manager

  header.header
    .container
      h1 
        span.purple.larger Custom Made 
        | WireFrames Just For Your Business
      .subtitle Use the 
        span.black.stronger same development process 
        | that large corporations has been using for years to build websites that 
        span.stronger.lightred attracts customers. 
  section.second
    .container
      h2 What are 
        span.stronger.purple Wireframes? 
      .row
        .col-lg-6
          p Wireframing is an important tool in application, or website design process. You can think of wireframing to a website as blueprinting to building a house.
          p When building a house first someone (usually an architect or a draftsman) draws and layout the structures of the house on a blueprint. Then a bunch of builders looks at the blueprint and construct the house accordingly. 
            | You can probably imagine how big of a disaster it can be when attempting to build a house without a blueprint.
          p Well... it works the same way when you are creating a quality website. Someone draws out the wireframes to ensure good user experience, and then the designers and the computer programmers get to work to put the website
            | together in to something useable.    
        .col-lg-6
          img(src="../images/sales/wireframev2.png")
  section.third
    .container.has-bottom-border
      h2 Samples of 
        span.stronger.purple Wiresframes We've Done 
      .row
        .hex-grid-4.wow.fadeIn(data-wow-duration='2s', data-wow-delay='1.3s' data-toggle="modal" data-target="#demos" )
          .hvr-grow.hexagon(style="background-image: url('../images/sales/royalhomewireframe.png')" href="")
            .hexTop
            .hexBottom
        .hex-grid-4.wow.fadeIn(data-wow-duration='2s' data-toggle="modal" data-target="#demos" )
          .hvr-grow.hexagon(style="background-image: url('../images/sales/highplanetwireframe.png')" href="")
            .hexTop
            .hexBottom
        .hex-grid-4.wow.fadeIn(data-wow-duration='2s', data-wow-delay='2s' data-toggle="modal" data-target="#demos" )
          .hvr-grow.hexagon(style="background-image: url('../images/sales/voyaacewireframe.png')" href="")
            .hexTop
            .hexBottom
        .hex-grid-4.wow.fadeIn(data-wow-duration='2s', data-wow-delay='0.6s' data-toggle="modal" data-target="#demos" )
          .hvr-grow.hexagon(style="background-image: url('../images/sales/wireframepv1.jpg')" href="")
            .hexTop
            .hexBottom
  section.benefits
    .container.has-bottom-border
      h2 What you'll Get.
      ul
        li You'll recieve 1 copy custom made wireframe mock up of your website in PDF format.
        li You'll also receive the original PSD (Photoshop) file of the wireframe.
        li All wireframes are built on top of proven grid systems for best use ability and development.
        li You'll recieve notes and annotaion on the details of the wireframe.
        li You'll also recieve additional suggest such as color schemes.
        li And all additional bonsues (read below for details).
  section.cta
    .container.has-bottom-border
      h2 Ok, I Got It... How Do I 
        span.stronger.lightblack Get My Custom Wireframes?
      span.subtitle Wow... aren't you enthusiastic. Ok, since we know this is your first time here, we've a 
        span.purple.stronger Special Offer for you right now!
      .buy-now-group
        a#bb1-big.btn.btn-buy(href=""  data-pname="4 Custom Wireframes" data-price="49")
          | Get 
          span(style="font-size: 26px") 4 Custom Pages of Wireframes 
          span(style="font-size: smaller;") For Only $49  
          span.regprice not $100 
        a#bb1-small.btn.btn-buy(href="" data-pname="1 Custom Wireframes" data-price="20")
         | Get 1 Home Page Wireframed For $20
      br 
      //- span.returndays Once you recieve your wireframes, you'll still have 30 day to get your money back guarantee.
      img.center-block(src="../images/sales/securebadge.png")
      br 
      span.not-yet Not ready to purchase the wireframes yet? We totally understand... this is why we have more surprises and bonus offers for you, so keep reading.
  section.fourth
    .container.has-bottom-border
      h2 Do I really need WireFrames?
      p Look, we're going to tell you the truth. This whole Wireframe thing... it's not for everybody. Ask your self these questions:
      ul
        li Do you want to create a website but don't know where to begin?
        li Do you want to build a quality website that brings you more new customer or clients?
        li Do you want to save money and time while building this website?
        li Are you overwhelmed with all these techinical terms?
        li Have you been planning to setup a website for a while, but just haven't got it done?
        li Are you're customers asking you for one?

      p If you answer "Yes" to any of the questions, then We are certain that you'll benefit from these custom wireframes.
  
  section.fifth
    .container.has-bottom-border
      h2 Why are we doing this?
      p We've worked with many business over the years. So we understand how frustrating it can be to get things done right.
        | Unlike hobbies and bloggers, business owners simply cannot afford to have their time and money wasted on poor quality
        | websites.
      p Unfortunately as with anything in life a well designed, high quality website takes time and efforts. These time and efforts
        | usually amounts to a high bill that many smaller businesses cannot afford. This is why, we have set out to find a way to reduce the cost of creating website without dropping the quality. 
      p Wireframes is a great starting point to set all the required fundamentals for businesses owners to build their quality website.
        | Once the wireframes are created, the business owner can simply take it to his/her team or hire a web developer to put it all together.
        | And since the wireframes will outline most of the details of how to construct the website, the developer will be able to finish the takes
        | with less time and effort thus saving money and time.
  section.sixth
    .container.has-bottom-border
      h2 What can I do with the Wireframes?
      span.subtitle That's a great questions. Here are someways that our customers have been using the Wireframes.
      ul
        li 
          span 73% of our customers ask us to complete website with the wireframes we build.
        li 
          span 12% of our customers use the wireframes to build their own websites.
        li 
          span 9% of our customers either hire other professional web developers or have their team to complete the website.
        li 
          span 6% we honestly don't know what they do with it.
  section.cta
    .container.has-bottom-border
      h2 Ok, I Got It... How Do I 
        span.stronger.lightblack Get My Custom Wireframes?
      span.subtitle Use the Wireframes Plus the 
        span.purple Bonuses 
        | to Create a Awesome Website
      .buy-now-group
        a#bb2-big.btn.btn-buy(href="" data-pname="4 Custom Wireframes" data-price="49")
          | Get 
          span(style="font-size: 26px") 4 Custom Pages of Wireframes 
          span(style="font-size: smaller;") For Only $49  
          span.regprice not $100 
        a#bb2-small.btn.btn-buy(href="" data-pname="1 Custom Wireframes" data-price="20")
         | Get 1 Home Page Wireframed For $20
      br 
      //- span.returndays Once you recieve your wireframes, you'll still have 30 day to get your money back guarantee.
      img.center-block(src="../images/sales/securebadge.png")
      br 
      span.not-yet Still not convinced?
  //- section.seventh
  //-   .container.has-bottom-border
  //-     h2 Use Wireframes to Build Your Website Like a Pro
  //-     p We will also tell you a 
  //-       span.purple.stronger "little secret" 
  //-       | that all professional website developers knows. 
  //-       | Why are companies like 
  //-       span.stronger.lightblack Walmart, Apple, Zara, and Rogers 
  //-       | never seem to launch crappy websites that no body wants to use or even look at?
  //-       | That's because they prototype.

  //-     p Yes, big companies prototypes everything. So, of course they're going to use wireframes to pre-plan their website.
  //-       | Sure, this whole process cost them a lot of money, in fact nothing less then $10,000 USD.
  //-       | But, they don't mind cause that's nothing compare to how much money they could loss if they build a crappy websites that no body wants to use.
  //-       | All I'm saying is you don't have to pay $10,000+ to get the same process big companies you to build your website, you can 
  //-       span.purple get it today for peanuts compare to what they pay.
  section.eighth
    .container.has-bottom-border
      h2 
        span.stronger.purple 3 Extra Gift 
        | to Help You Build Your Awesome Website  
      span.subtitle We want to help, this is why we are going to not only create custom wireframes for you but also give you some great bonuses to get you started.
      img(src="../images/sales/bonusbanner.png")
      
  section.ninth
    .container.has-bottom-border
      h2 
        span.stronger.purple Limited 
        | $10 Coupons for Google Apps For Business <br/>
        | (Only 2 Left )
      span.subtitle As a Google Partner, we are given a few coupons to give away for their Google App For Business.
      img(src="../images/sales/googleappb.png" style="width: 800px; margin: auto;")
      p There is a lot to say about Google App For Business, so we are going to let Google tell you a little more about it.
      p 
        span.stronger What makes Google Apps for Work different?
      p Five areas set Google Apps apart, which is why research firm Radicati named Google Apps for Work the leader in cloud business email. A summary of the report can be found in the related resources.
      ul
        li 
          span A cloud pioneer. Google is recognized as a trusted name and an industry leader in reliable cloud infrastructure.
        li 
          span Built for the cloud. Google Apps was designed as an entirely cloud-based service from the ground up, so IT departments don’t need to spend time and money maintaining any desktop components.
        li 
          span A complete package. The suite includes file storage and sharing with Google Drive, real-time collaboration with Google Docs, video meetings with Hangouts and professional email with Gmail, all for one single price.
        li 
          span Consistency and comfort. Google Apps users enjoy the same experience across different devices, operating systems and browsers, and many employees already use Google products at home.
        li 
          span Offline support. Gmail, Calendar and Google Docs let users view, edit and create content when they’re not on the Internet, syncing automatically when they reconnect.
  section.tenth
    .container.has-bottom-border
      h2 What Some of Our Customers Say.
      .testimonial
        blockquote 
          | “Designed For Result not only retouched our company home page but also developed our quotation web app that is easy to use and intuitive. Designed For Result understands the importance of user experience."
        .bio
          | - Gary Goldschimdt, Partner, Stone Hedge Financial Group.  
          img(src="../images/sales/5stars.png")
      .testimonial
        blockquote
          | "We are extremely happy with our website design, it is very easy to manage and has a clean layout. Designed For Result was great to work with, Steve really listened to what we needed and designed a very ideal website for us. I highly recommend using Designed For Result."   
        .bio
          | - Emma Majd, Owner, S.O.S Wildlife Control.  
          img(src="../images/sales/4stars.png")
      .testimonial
        blockquote
          | "The service I have received from Designed For Result has been extremely reliable and quick. I appreciate the fact that days and nights you respond to my many complaints and find permanent solutions quickly and efficiently. Exceptional service,  keep up the good work!"            
        .bio
          | - Rafik Farag, Partner, Sira Print Inc.  
          img(src="../images/sales/5stars.png")
  section.company-bio
    .container.has-bottom-border
      h2 Meet The Geeks & Artists
      .col-lg-2.profile-pic
        img(src="../images/logo-profile.png")
        img(src="../images/profile.png")
      .col-lg-10
        p Designed for Result emerge from listening to hundreds of frustrated business owners.
          | All these business owners shared one big frustration. 
          | They were mad and furious as to why the elite brand such as Walmart, BestBuy, etc.. all seem to be able to bring in thousands of new customers everyday with their websites.
          | Yet their own websites did absolutely nothing for them.

        p As a result, with all our passion and enegry. Our geeks and artists set out on our 5 years journey to figure out the difference between 
          | building a fancy website vs a simple yet aestically pleasing website that converts. 
          | And with all we've learned in these 5 years we have finally put it all together into a system, a simple process which creates websites that are 
          span.stronger Designed or Result.

        p Now, it is time for us to take what we have learned and use it to help as many frustrated businesses owners as we can.
          | While we cannot promise you a magic pill that will flood you with thousands of new customers. We can promise you that we will do it right from the begining.
  section.cta
    .container
      h2 I'm Ready to 
        span.stronger.lightblack Get My Custom Wireframes
      span.subtitle Use the Wireframes Plus the 
        span.purple Bonuses 
        | to Create a Awesome Website
      .buy-now-group
        a#bb3-big.btn.btn-buy(href="" data-pname="4 Custom Wireframes" data-price="49")
          | Get 
          span(style="font-size: 26px") 4 Custom Pages of Wireframes 
          span(style="font-size: smaller;") For Only $49  
          span.regprice not $100 
        a#bb3-small.btn.btn-buy(href="" data-pname="1 Custom Wireframes" data-price="20")
         | Get 1 Home Page Wireframed For $20
      br 
      //- span.returndays Once you recieve your wireframes, you'll still have 30 day to get your money back guarantee.
      img.center-block(src="../images/sales/securebadge.png")
  footer
    .top-footer
      .container
        .col-lg-6.footer-logo
          a(href="/") DESIGNED FOR RESULT  
        .col-lg-6.footer-legal
          | &copy; 2015 
          a(href='/') Designed For Result
    .bottom-footer(style="text-align: center;")
      a(href='/terms') Terms & Condition
      a(href='/privacy') Privacy Policy

  script(src='../js/sales.js')

  #pay.modal.fade
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
            button.back(type='button')
            h4 
              span.pname 4 Custom Wireframes
              |  + Bonuses     
          .modal-body
            form#payment-form(action="/checkout" method="post")
              .step-one
                h2 Want to get a Phyiscal Copy of these 
                  span.stronger.purple WireFrames for Only the Shipping Cost?
                hr
                p Just pay $5 flat shipping and we will print and mail you your custom wireframes.
                input(type="hidden" name="product_name" value="")
                input(type="hidden" name="sub_total" value="")
                input(type="radio" id="shipping-yes" name="shipping" valeu="true" checked)
                label.btn.btn-yes(for="shipping-yes") 
                  span.bigger YES 
                    br
                  | Mail me a phyiscal copy for only $5.
                input(type="radio" id="shipping-no"  name="shipping" valeu="false")
                label.btn.btn-no(for="shipping-no")
                  span.average NO THANKS, <br>
                  
                  | I'll stick to the digital copy.

            
              .step-two(style="display: none")  
                .form-group.email
                  .inputs-group
                    input.required-info.email.form-control(type='email', name='email',  placeholder='Enter email')  
                    i.fa.fa-envelope-o 
                .form-group.address     
                  .inputs-group
                    input.required-info.form-control(type="text", name='name', placeholder='Name') 
                    i.fa.fa-user
                  .inputs-group
                    input.phone.required-info.form-control(name='phone', placeholder='phone')
                    i.fa.fa-phone 
                  .inputs-group
                    input.required-info.form-control(name='address', placeholder='Address')
                    i.fa.fa-map-marker  
                  .form-set.clearfix
                    .inputs-group
                      input.required-info.form-control(name='postal', placeholder='Postal')  
                    .inputs-group
                      input.required-info.form-control(name='city', placeholder='City') 
      
                a.hvr-wobble-horizontal.btn.btn-info(type='submit') Continue 
                  span.arrow-right

              .step-three(style="display: none")  
                .form-group     
                  .inputs-group
                    input.required-cc.cc-num.form-control(type='tel' placeholder='Card number' x-autocompletetype="cc-number" autocompletetype="cc-number" autocorrect="off" spellcheck="off" autocapitalize="off" )  
                    i.fa.fa-credit-card
                    span.card
                  .form-set.clearfix
                    .inputs-group
                      input.required-cc.cc-exp.form-control(type='text' placeholder='MM / YY')  
                      i.fa.fa-calendar
                    .inputs-group
                      input.required-cc.cc-cvc.form-control(type='text' save="4" placeholder='CVC') 
                      i.fa.fa-lock
                button.hvr-wobble-horizontal.btn.btn-payment(type='submit') Checkout 
                  span.arrow-right
      
     

  #demos.modal.fade
    .modal-dialog
        .modal-content
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span &times;
          .image-wrapper

